In [26]:
import datetime as dt
from datetime import datetime, timedelta
from pandas import pandas as pd 
data = pd.read_csv('data.tsv',sep='\t')
startDate = df.date.iloc[0]
startDate_datetime = datetime.strptime( startDate, '%d.%m.%Y %H:%M' )
startDate_datetime
startDate_datetime.strftime( '%Y-%m-%d %H:%M:%S' )

def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')
data['datetime'] = data.apply(convert_to_datetime, axis=1)
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00

In [20]:
import datetime as dt
startDate = '2017-01-01'
endDate = '2017-01-03'
startDate_datetime = datetime.strptime( startDate, '%Y-%m-%d' )
endDate_datetime = datetime.strptime( endDate, '%Y-%m-%d' )
current_day = startDate_datetime

while current_day <= endDate_datetime:
    print(current_day.strftime('%Y-%m-%d %H:%M:%S'))
    current_day += timedelta(days=1)

2017-01-01 00:00:00
2017-01-02 00:00:00
2017-01-03 00:00:00

In [ ]:
def date_range(start_date, end_date):

    date_range_list = []
    current_date = start_date  
    current_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')   
    while current_date_dt <= end_date_dt:
        date_range_list.append(current_date)        
        current_date_dt += timedelta(days=1)
        current_date = current_date_dt.strftime('%Y-%m-%d')    
    return date_range_list

In [66]:
import time
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())
data['unixtime'] = data.apply(make_unix_time, axis=1)
min_time=data.groupby(['user_id']).unixtime.min()
max_time=data.groupby(['user_id']).unixtime.max()
diff = max_time - min_time 
diff[diff!=0].mean()/60/60/24

3.485453869047619