In [1]:
sparta = ['Hooley', 'Gaotier', 'Nolan', 'Oustin' ]
sparta[-2:1:-3]

['Nolan']

In [6]:
my_list = [1, 2, 3, 4, 5]
my_list.append(100500)
print(my_list)

[1, 2, 3, 4, 5, 100500]

In [11]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)

32

In [36]:
my_list = []
result = 0
for number in range(1,50+1):
    if number%3==0:
        my_list.append(number)
        result = len(my_list)   
else:
    print(result)

16

In [37]:
my_list = []
result = 0
for number in range(1,51):
    if number%3==0:
        my_list.append(number)
        result = sum(my_list)   
else:
    print(result)

408

In [8]:
raw_list = ['variables', 'loops', 'conditions', 'lists', 'dictionaries', 'files', 'functions']
my_list = []
for name in raw_list:
    my_list.append(len(name))
    result = min(my_list) + max(my_list)
result

17

In [58]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)
my_list = []
for i in raw_list:
    if i%2==0:
        my_list.append(i*x_min)
    else:
        my_list.append(i*x_max)
    result = max(my_list)
    print(result)

4
16
20
1633
1633
3479
3479
3479
5041
5041

In [10]:
fruits = 'apple banana orange eggplant pepper tomato watermelon pineapple'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()
my_list

['a', 'b', 'e', 'o', 'p', 'p', 't', 'w']

In [7]:
old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for salary in old_salary:
    new_salary.append(salary * 1.9)

print(new_salary)

[66500.0, 95000.0, 123500.0, 93100.0, 104500.0]

In [9]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

590

In [8]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
result = max(my_list) + min(my_list) + my_list.count('batman')
print(result)

399

In [20]:
a=list()
a=[a, 'b', 3]
print(a)

[[], 'b', 3]

In [11]:
animals = 'cat, dog, hamster, guinea pig, parrot, horse'.split(',')
print(animals)

['cat', ' dog', ' hamster', ' guinea pig', ' parrot', ' horse']

In [18]:
b=list((1,2,3,'m'))
print(b)

[1, 2, 3, 'm']

In [13]:
animals = ['cat', 'dog', 'hamster', 'guinea pig', 'parrot', 'horse']
print(animals[0])
print(animals[2])
print(animals[3])

cat
hamster
guinea pig

In [17]:
OurBestStudents = ['Hooley', 'Gaotier', 'Nolan', 'Oustin']
print(OurBestStudents[0])
print(OurBestStudents[2])
print(OurBestStudents[3])

Hooley
Nolan
Oustin