In [10]:
my_list = [x for x in range(10, 100) if x%3 == 0 and x%5 == 0]
my_list

powers = [x**y for x in range(1, 10) for y in [2,10]]
powers

[1,
 1,
 4,
 1024,
 9,
 59049,
 16,
 1048576,
 25,
 9765625,
 36,
 60466176,
 49,
 282475249,
 64,
 1073741824,
 81,
 3486784401]

In [ ]:
draw_dict = {
    'Russia': 'A',
    'Portugal': 'B',
    'France': 'C',
    'Denmark': 'C',
    'Egypt': 'A'
}
country = 'Italy'
for group in country:
    draw_dict.setdefault(group, 'unknown')
    if group in draw_dict:
        print(draw_dict[group])
else:
    group = 'unknown'

In [ ]:
numbers = [x for x in range(3,100) if [x%y for y in range(2,x)].count(0) == 0]
numbers

numbers = [x*y for x in range(1, 10) for y in [3, 5, 7]]
numbers

In [13]:
draw_dict = {
    'Russia': 'A',
    'Portugal': 'B',
    'France': 'C',
    'Denmark': 'C',
    'Egypt': 'A'
}
draw_new = {}
for key, group in draw_dict.items():
    if draw_dict[key] == 'A':
        draw_new[key] = group 
draw_new

{'Russia': 'A', 'Egypt': 'A'}

In [14]:
spends = {
    '2019-04-01': 2504,  
    '2019-04-02': 4994,
    '2019-04-03': 6343
}
sum(spends.values())

13841

In [18]:
csv_file = [
     ['100412', 'ATOMIC Hawx Prime 100', 9],
     ['100728', 'Skateboard Jdbug RT03', 32],
     ['100732', 'Rollersurf Razor RipStik Bright', 11],
     ['100803', 'DC Tucknee Snowboard Boots', 20],
     ['100898', 'Omron HJA-306 pedometer', 2],
     ['100934', 'Beurer PM62 heart rate monitor', 17],
]
csv_file_filtered=[]
for record in csv_file:
    if record[2]>10:
        csv_file_filtered.append(record)

In [19]:
csv_dict = [
     {'id': '100412', 'position': 'ATOMIC Hawx Prime 100 ski boots', 'count': 9},
     {'id': '100728', 'position': 'Jdbug RT03 skateboard', 'count': 32},
     {'id': '100732', 'position': 'Roller surfboard Razor RipStik Bright', 'count': 11},
     {'id': '100803', 'position': 'DC Tucknee snowboard boots', 'count': 20},
     {'id': '100898', 'position': 'Omron HJA-306 pedometer', 'count': 2},
     {'id': '100934', 'position': 'Beurer PM62 heart rate monitor', 'count': 17},
]
csv_dict_boots=[]
for i in csv_dict:
    if 'boots' in i['position']:
        csv_dict_boots.append(i)
csv_dict_boots

[{'id': '100412', 'position': 'ATOMIC Hawx Prime 100 ski boots', 'count': 9},
 {'id': '100803', 'position': 'DC Tucknee snowboard boots', 'count': 20}]

In [ ]:
results = [
    {'cost': 98, 'source': 'vk'},
    {'cost': 153, 'source': 'yandex'},
    {'cost': 110, 'source': 'facebook'},
]
minimum = 1000
for i in results:
    if i['cost'] < minimum:
        minimum = i['cost']
print(minimum)

In [ ]:
defect_stats = [
	{'step number': 1, 'damage': 0.98},
	{'step number': 2, 'damage': 0.99},
	{'step number': 3, 'damage': 0.99},
	{'step number': 4, 'damage': 0.96},
	{'step number': 5, 'damage': 0.97},
	{'step number': 6, 'damage': 0.97},
]
itog=1
for i in defect_stats:
    itog=itog*i['damage']
    if itog<0.9:
        break
print (i['step number'])

In [23]:
currency = {
    'AMD': {
        'Name': 'Armenian drams',
        'Nominal': 100,
        'Value': 13.121
    },
    'AUD': {
        'Name': 'Australian dollar',
        'Nominal': 1,
        'Value': 45.5309
    },
    'INR': {
        'Name': 'Indian rupees',
        'Nominal': 100,
        'Value': 92.9658
    },
    'MDL': {
        'Name': 'Moldovan Lei',
        'Nominal': 10,
        'Value': 36.9305
    },
}
course={}
name_min = None
value_min = None
for key in currency.keys():
    course[key]=currency[key]['Value']/currency[key]['Nominal']
    
    for name, val in course.items():
        if not value_min or val < value_min:
            value_min = val
            name_min = name
print(value_min, name_min)

0.13121 AMD

In [24]:
currency = {
    'AMD': {
        'Name': 'Armenian drams',
        'Nominal': 100,
        'Value': 13.121
    },
    'AUD': {
        'Name': 'Australian dollar',
        'Nominal': 1,
        'Value': 45.5309
    },
    'INR': {
        'Name': 'Indian rupees',
        'Nominal': 100,
        'Value': 92.9658
    },
    'MDL': {
        'Name': 'Moldovan Lei',
        'Nominal': 10,
        'Value': 36.9305
    },
}
course={}

for key in currency.keys():
    course[key]=currency[key]['Value']/currency[key]['Nominal']
    
print(min(course.items()))

('AMD', 0.13121)

In [26]:
bodycount  = {
    'Curse of the Black Pearl': {
    'man': 17
    },

    'Dead Mans Chest': {
    'man': 56,
    'hermit crabs': 1
    },

    'On the edge of the world': {
    'man': 88
    },

    'On Strange Shores': {
    'man': 56,
    'mermaids': 2,
    'poisonous toads': 3,
    'zombie pirates': 2
     }
}
sum( [sum( [bodycount[x][y] for y in bodycount[x]] ) for x in bodycount] )

225