In [5]:
import pandas as pd 
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
us = pd.read_csv('users.csv', encoding= 'koi8_r', sep="\t")
us.columns = ['user_id', 'email', 'geo']
log2 = log[['user_id', 'time']].dropna(axis = 1)
log2['bet'] = log['bet']
log2['win'] = log['win']

In [7]:
log2=log.drop_duplicates(subset=('user_id', 'time'))
log2

In [9]:
#log['time'] = log.time.apply(lambda x: None if x != x else x[1:])
log.time = pd.to_datetime(log.time)
days = log.time.dt.dayofweek.value_counts()
log['time'].apply(lambda pandas_dataframe: pandas_dataframe.month)

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
995    4.0
996    NaN
997    NaN
998    NaN
999    NaN
Name: time, Length: 1000, dtype: float64

In [10]:
def daytime(x):
    if x in range(0,5):
        return "night"
    if x in range(6,11):
        return "morning"
    if x in range(12,17):
        return "day"
    if x in range(18,23):
        return "evening"
    
daytime = log.time.dt.hour.apply(daytime)
daytime.value_counts()

night      220
morning    219
day        195
evening    188
Name: time, dtype: int64

In [11]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log = log.dropna(axis=0)
log['time'] = log['time'].apply(lambda x: x[1:])
time = pd.to_datetime(log['time'])
log['hour'] = time.apply(lambda x: x.hour)
#log['hour'] = log.time.dt.hour
log

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 8:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 5:26:59,300.0,4319.0,5
...,...,...,...,...,...
967,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0,22
971,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0,10
972,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0,10
976,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0,10
991,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,12

In [12]:
import pandas as pd
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log['bet'].fillna(0)  
def fillna_win(row):    
    if  row.win>0:
        return  row.win 
    else:
        return 0
new_win = log.apply(lambda row: fillna_win(row),  axis = 1)      
log['win'] = new_win 
log['net'] = log.win - log.bet
percent = sum(log.net<0)/sum(log.bet>0)*100
log.net[(log.net<0)].mean()

-3372.743515850144

In [ ]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log['bet'].fillna(0) 
min_bet_amount = log.bet[(log.bet>0)].min()
min_bet_amount = log.bet[(log.bet==100)].count()
min_bet_amount

In [ ]:
us.user_id = us.user_id.apply(lambda x: x.lower())  
log = log[log.user_id != '#error']  
log.bet = log['bet'].fillna(0)  
def fillna_win(row):    
    if  row.win>0:
        return  row.win 
    else:
        return 0
new_win = log.apply(lambda row: fillna_win(row),  axis = 1)      
log['win'] = new_win 
log['net'] = log.win - log.bet
#log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
ds = pd.merge(log, us, on='user_id')  
a = ds[ds.bet>0].groupby('geo').bet.mean().max()
b = ds[ds.bet>0].groupby('geo').bet.mean().min()
a/b

In [ ]:
ds[ds.bet==0].groupby(['user_id']).bet.count().sum()/ds[ds.bet==0].groupby(['user_id']).bet.count().count()

In [ ]:
usersWithBet = ds.groupby('user_id').bet.mean().notnull()
usersList = usersWithBet[usersWithBet == True].index
filteredDF = ds[(ds.bet == 0) & (ds.user_id.isin(usersList))].groupby('user_id')
int(filteredDF.bet.value_counts().sum() / filteredDF.ngroups)

In [ ]:
#ds.time = ds.time.apply(lambda x: None if x != x else x[1:])
ds= ds.dropna(axis = 0, subset = ['time', 'user_id', 'bet'])
ds.time = pd.to_datetime(ds.time)
uList = ds.groupby('user_id').bet.mean()[ds.groupby('user_id').bet.sum() > 0].index
min_time = ds[(ds.user_id.isin(uList)) & (ds.bet==0)].groupby('user_id').time.min()
#print(ds.groupby('user_id').bet.mean()[ds.groupby('user_id').bet.sum() > 0])
min_bet_time = ds[(ds.bet > 0) & (ds.user_id.isin(usersList))].groupby('user_id').time.min()-min_time
print(min_bet_time.mean())

In [12]:
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
us = pd.read_csv('users.csv', encoding= 'koi8_r', sep="\t")
us.columns = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())  
log = log[log.user_id != '#error'] 
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  
# log.bet = log['bet'].fillna(0)  
ds = pd.merge(log, us, on='user_id')  
sample2 = ds.groupby('geo').user_id.count()