In [8]:
word = 'PlayGnd'
for i, letter in enumerate(word):
    if i%2 == 0:
        print(letter)

P
a
G
d

In [7]:
for i in range(30, 42): 
    if i%2 == 0:
        print('Number', i, 'even')
    else:
        print('Number', i, 'not even')

Number 30 even
Number 31 not even
Number 32 even
Number 33 not even
Number 34 even
Number 35 not even
Number 36 even
Number 37 not even
Number 38 even
Number 39 not even
Number 40 even
Number 41 not even

In [6]:
year_1 = 2013
year_2 = 2020
for i in range(year_1, year_2+1):
    if i%4==0:
        print(i, "leap year")
    else:
        print(i, "not leap year")

2013 not leap year
2014 not leap year
2015 not leap year
2016 leap year
2017 not leap year
2018 not leap year
2019 not leap year
2020 leap year

In [4]:
word = 'Adaptable'
vov = 'a', 'e', 'i', 'o', 'q', 'u','y'
for i in(word):
    if i in vov:
        print(i)

a
a
e

In [1]:
name = 'John'
for i, letter in enumerate(name):
    if i>=0:
        print('Letter',i+1 ,"in this name -",letter)

Letter 1 in this name - J
Letter 2 in this name - o
Letter 3 in this name - h
Letter 4 in this name - n

In [2]:
num_1 = 25
num_2 = 45
for i in range(num_1, num_2+1):
    if i%3==0 or i%5==0:
        print(i)
    elif num_1<0 or num_2<num_1:
        print( "Wrong number set" )

25
27
30
33
35
36
39
40
42
45

In [1]:
num_1 = 25
num_2 = 45
if num_1<0 or num_2<num_1:
    print( "Wrong number set")
else:
    for i in range(num_1,num_2+1):
        if (i%2)!=0:
            if (i%3)==0 or (i%5)==0:
                print(i)

25
27
33
35
39
45

In [223]:
number = 84
for i in range(1, number+1):
    if number%i==0:
        print(i)

1
2
3
4
6
7
12
14
21
28
42
84

In [245]:
num_1 = 12
num_2 = 38
for i in range(num_1, num_2+1):
    if num_1%i==0 or num_2%i==0 and num_1!=1 and num_2!=1:
        print(i)

12
19
38

In [247]:
num_1 = 12
num_2 = 38 
for x in range(2, num_1 + 1):
    if num_1 % x == 0 and num_2 % x ==0:
        print(x)

2

In [3]:
for i in range(1, 10+1):
    print(i, i**2, i**3)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

In [248]:
n = 10
fib1 = fib2 = 1
for i in range(2,n):
    if i!=1 or i!=2:
        fib1, fib2 = fib2, fib1 + fib2
print(fib2)

55

In [253]:
number = 15
for i in range(1,10+1):
    z=(number)*i 
    print(number, "X", i, "=", z)

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150