In [2]:
import pandas as pd
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']

In [ ]:
sample = pd.read_csv('sample.csv')
#sample.columns = [i.lower() for i in sample.columns]
sample

users = pd.read_csv('users.csv', encoding= 'koi8_r', sep="\t")
users.columns = ['user_id', 'email', 'geo']
users

sample.name.unique()
sample.info()
log.user_id.unique()
log.info()

sample2=sample[(sample.age<30)&(sample.profession=='Workman')]
sample2

log_win = log[log['win'].notnull()]
win_count = log_win['win'].count()

In [ ]:
log2 = log.query('bet<2000 & win>0')
log2

sample4 = sample[(~sample.City.str.contains('о', na=False))]
sample4

new_log = log[(~log.user_id.str.contains('#error', na=False))]
new_log

sample.City.apply(lambda x: str(x).lower())
sample2 = sample
sample2.Age = sample2.Age.apply(lambda x:x+1)
sample2.City=sample2.City.apply(lambda x: str(x).lower())

In [ ]:
def profession_code(s):
    if s =="Workman":
        return 0
    if s == "Manager":
        return 1 
    else:
        return 2

In [ ]:
sample2 = sample
sample2.Profession=sample.Profession.apply(profession_code)
sample2

In [ ]:
def age_category(age):
    if age<23:
        return "young"
    if age in range(23,35):
        return "middle" 
    if age>35:
        return "mature"

In [ ]:
sample['Age_category']=sample.Age.apply(age_category)
sample

log.time = log.time.apply(lambda x: None if x != x else x[1:])

In [ ]:
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
def change(x):
    if "Id" in x:
        return x[-9:]
    if x == "#error":
        return ""
log.user_id = log.user_id.apply(change)
log

In [37]:
log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.user_id = log.user_id.apply(lambda s: str(s)[24:] if s != "#error" else s)
log = log[log.user_id != '#error']
log.time = log.time.apply(lambda x: None if x != x else x[1:])
log

      user_id                 time      bet     win
0    user_919  2019-01-01 14:06:51      NaN     NaN
1    user_973  2019-01-01 14:51:16      NaN     NaN
2    user_903  2019-01-01 16:31:16      NaN     NaN
3    user_954  2019-01-01 17:17:51      NaN     NaN
4    user_954  2019-01-01 21:31:18      NaN     NaN
..        ...                  ...      ...     ...
991  user_965  2019-04-20 12:55:41    800.0  6927.0
992  user_967  2019-04-20 14:59:36  10154.0     NaN
993  user_973  2019-04-20 17:09:56  10254.0     NaN
994  user_977  2019-04-20 18:10:07  10354.0     NaN
995  user_984   2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]

In [ ]:
log = pd.read_csv("log.csv",header=None) 
log.columns = ['user_id','time','bet','win']
t = log.time[0]
t = log.time[0][1:]
t

log.time = log.time.apply(lambda x: None if x != x else x[1:])